.chat-container
{
    
    position: relative;
    width: 95%;
    height: 90%;
    border-radius: 10px;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 30px;
    grid-template-areas: 
      ". . ."; 
    }

.chat-container .bar
{
    position: relative;
    height: 90%;
    width: 5px;
    border-radius: 40px;
    background-color: rgba(240, 248, 255, 0.5);
}
